:root {
  --first-color: #131929;
  --second-color: #fecd03;
  --third-color: #aeeadb;
  --forth-color: #8b1b01;
  --fifth-color: #e8fcd9;
}

/* reset styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--first-color);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */
header {
  width: 100%;
  height: 100px;
  background-color: var(--second-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container--left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 50%;
}

.header-container--right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50%;
}

.header-container--left .logo {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 50%;
  opacity: 0.8;
}

.header-container--left input {
  margin-left: 20px;
  width: 60%;
  height: 40px;
  border-radius: 10px;
  text-indent: 10px;
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: var(--first-color);
  color: var(--fifth-color);
}

.header-container--right ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-container--right ul a {
  margin-right: 20px;
  font-size: 1.5rem;
  padding: 10px;
  transition: all 0.3s;
  color: var(--first-color);
  font-weight: bolder;

  /* text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5,
    -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5,
    -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, -6px 5px #cdd2d5,
    -6px 7px #808d93, -7px 6px #cdd2d5, -7px 8px #808d93, -8px 7px #cdd2d5; */
}

.header-container--right ul a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  border-bottom: 2px solid var(--third-color);
}

/* hamburger */
.hamburger {
  position: relative;
  display: none;
  width: 35px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 4;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--first-color);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 3;
  background-color: var(--second-color);
  padding-top: 100px;
  transition: all 0.6s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav ul a {
  display: block;
  width: 100%;
  max-width: 300px;
  text-align: center;
  margin: 0 auto 16px;
  padding: 12px 16px;
  background-color: var(--forth-color);
  color: var(--fifth-color);
  transition: all 0.3s;
  border-radius: 10px;
  outline: none;
  opacity: 0.8;
  border: none;
}

.mobile-nav ul a:hover {
  background-color: var(--first-color);
  opacity: 1;
}

/* main style */
.main-container {
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

/* card */
.card {
  width: 300px;
  height: 600px;
  background-color: var(--second-color);
  margin: 20px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: scale 0.3s;
  opacity: 0.9;

  box-shadow: 5px 5px 30px rgba(256, 256, 256, 0.5);
  -webkit-box-shadow: 5px 5px 20px rgba(256, 256, 256, 0.5);
  -moz-box-shadow: 5px 5px 30px rgba(256, 256, 256, 0.5);
}

.card:hover {
  scale: 1.02;
  opacity: 1;
}

.card-image {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
}

.card-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}

.card-price {
  position: absolute;
  bottom: 60px;
}
.card-button {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: var(--first-color);
  color: var(--third-color);
  font-size: 1.2rem;
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

.card-button:hover {
  color: var(--first-color);
  background-color: var(--fifth-color);
}

/* footer */
footer {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: var(--second-color);
  color: var(--first-color);
  margin-top: 20px;
}

.fab {
  color: var(--first-color);
  margin: 0 10px;
  transition: all 0.5s;
}

.fab:hover {
  color: var(--fifth-color);
}

/* loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--first-color);
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 3;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: '';
  width: 50px;
  height: 50px;
  border: 10px solid var(--second-color);
  border-top-color: var(--forth-color);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.loader h1 {
  color: var(--fifth-color);
  margin-right: 20px;
}

/* media queries */

@media (max-width: 900px) {
  .mobile-nav {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .main-container {
    max-width: 100%;
  }

  .header-container--right ul a {
    display: none;
  }

  .header-container--left {
    width: 100%;
  }

  .header-container--left h1 {
    display: none;
  }

  .header-container--left input {
    width: 100%;
  }
}
